<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
	<!-- <typeAliaes></typeAliaes> 태크를 통해 VO클래스나 CMD클래스 등록  -->
    <configuration>
		<typeAliases>
			<typeAlias type="com.project.cmd.MemberVO" alias="memberVO"/>
		</typeAliases>
    </configuration>


